.modal :global(.arco-modal-content) {
  display: flex;
  flex-direction: column;
}

.subtitle {
  flex-shrink: 0;
  margin: 0 0 12px;
  color: var(--color-text-3);
  font-size: 12px;
  line-height: 20px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
